[user]
	email = kargakis@protonmail.com
	name = Michail Kargakis
	signingkey = C5E4B477649EAA62
[core]
	editor = vi
[push]
	default = simple
[transfer]
	fsckobjects = true
[fetch]
	fsckobjects = true
[receive]
	fsckObjects = true

[alias]
	ac = !git add . && git commit -S -am
	l = log --pretty=format:"%C(yellow)%h\\ %C(reset)%s\\ %C(green)[%an]" --decorate --date=short
	fp = fetch --prune
	f = fetch upstream
	b = branch
	c = checkout
	cb = checkout -b
	gc = gc --prune=all
	m = merge upstream/master
	p = push origin
	cln = clean -fd .
	ff = "!sh -c \"git fetch upstream pull/$1/head; git checkout FETCH_HEAD\" -"
	r = rebase --gpg-sign=kargakis@protonmail.ch
[commit]
	gpgSign = true
[gpg]
	program = gpg
[color]
	ui = auto

